<header class="header">

    <div class="header__top">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="#">
                        <img src="assets/images/header/logo.png" alt="">
                    </a>
                </div>

                <div class="header__text">
                    <a href="#">
                        <span>Need help?</span>
                    </a>
                    Talk to an expert:
                    <a class="header__phone" href="tell:61383766284">+61 3 8376 6284</a>
                </div>

                <a href="#" class="basket">
                    <img src="assets/images/header/basket.png" alt="">
                </a>

                <div class="headet__right">
                    <a class="btn btn--green" href="">Login</a>
                    <a class="btn btn--red btn--pd__smol" href="">Register</a>

                </div>
            </div>
        </div>
    </div>
    <div class="header__footer">
        <div class="container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link"> Home </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> About </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> WordPress </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> Joomla </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> PSD </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> Plugins </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> Components </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> Pages </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link"> Contact Help </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>


    </div>
</header>